<% @contacts.each do |contact| %>
  <p>First name: <a href="/client/contacts/<%= contact["id"]%>"><%= contact["first_name"]%></a> </p>
  <p>Middle name: <%= contact["middle_name"]%></p>
  <p>Last name: <%= contact["last_name"] %></p>
  <p>Bio: <%= contact["bio"] %></p>
  <p>Email: <%= contact["email"] %></p>
  <p>Phone number: <%= contact["formatted"]["phone_number"] %></p>
  <p>Updated at: <%= contact["formatted"]["updated_at"]%></p>
  <hr>
<% end %>